.t-button-tip {
  padding: 0;
  height: auto;

  &:hover,
  &:focus {
    animation: jump 0.3s;
  }

  @keyframes jump {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-3px);
    }

    100% {
      transform: translateY(0);
    }
  }
}
