.t_tabs {
  .tabs {
    padding: 0;
    margin: 0;

    .el-tabs {
      .el-tabs__header {
        margin: 0;
        padding: 0 10px;
        background-color: #fff;
      }

      .el-tabs__nav-wrap {
        &::after {
          height: 1px;
        }
      }
    }
  }
}
