:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --demoblock-border: #e7e7e7;
  --vp-code-block-bg: #f9fafb;
}

.demo-block .meta {
  background-color: var(--vp-code-block-bg);
}
.demo-block .t_layout_page {
  overflow: visible;
  padding: 0;
}
.demo-block .t_layout_page .t_layout_page_item {
  padding: 0;
  margin: 0;
}

html.dark {
  --vp-code-block-bg: var(--vp-code-block-bg);
}

.source {
  background-color: var(--el-bg-color);
}

.source th,
.source td {
  border: none;
  background-color: var(--el-bg-color);
}
.source table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  margin: 0;
  overflow-x: inherit;
}
.source tr:nth-child(2n) {
  background-color: var(--el-bg-color);
}

.source tr {
  border-top: none;
}
.VPContent .VPDoc .container .content {
  padding: 0;
}
.VPNav {
  z-index: 41 !important;
}
.VPSidebar {
  z-index: 40 !important;
}
.VPSidebar.open {
  z-index: 42 !important;
}
.VPContent .VPDoc.has-aside .content-container {
  max-width: 1200px;
}
