@import './variables.scss';
@import './transition.scss';
@import './mixin.scss';
@import './sidebar.scss';
@import './svgicon.scss';
@import './element-variables.scss';
@import './element-ui.scss';
@import './variables';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// 页面包裹公用样式
.page_wrap {
  flex-grow: 1;
  padding: 16px;
  width: 100%;
  background-color: #ECF0F3;
}
// 功能块公用样式
.block_wrap {
  margin-bottom: 16px;
  padding: 24px;
  background: #fff;
  border-radius: 4px;
}
// 主题颜色
.router-link-active .is-active span {
  color: #fff;
}
.tags-view-container .tags-view-wrapper .tags-view-item.active {
  background-color: #355DB4!important;
  border-color: #355DB4!important;
}
/*******************flex样式****************************/
.flex-box{ display:-webkit-box;display:-webkit-flex;display: flex;}
/*************垂直方向左对齐********/
.flex-ver-left{-webkit-align-items:flex-start;align-items:flex-start;}
/*************水平方向左对齐********/
.flex-ver-h-left{justify-content:flex-start;}
/*************水平方向右对齐********/
.flex-ver-h-right{justify-content:flex-end;}
/*************水平垂直居中********/
.flex-ver{align-items:center;justify-content: center;}
/*************垂直居中********/
.flex-ver-v{align-items:center;}
/*************水平居中********/
.flex-ver-h{justify-content: center;}
/*************换行********/
.flex-wrap{flex-wrap:wrap}
/*************两端对齐********/
.flex-between{justify-content:space-between}
/*******************flex样式结束****************************/
.dl-horizontal{
  display:-webkit-box;
  display:-webkit-flex;
  display: flex;
  dt{
    min-width: 60px;
    text-align: right;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd{
    margin-inline-start: 20px;
  }
}
.sidebar-logo-container {
  cursor: pointer;
}

// 详情页面
.detail_page{
  padding: 15px;
  background: #f0f2f5;
  min-height: 100vh;
  padding-bottom: 75px;
}
// 弹窗小标题文字加粗
.dialog_title_bold{
  font-weight: bold !important;
  color: #333 !important;
  font-size: 17px !important;
}
